.ipynb_checkpoints/
notebooks/__pycache__
*.swp
data/
__pycache__/
out/
data_prep_tools/ManifoldPlus/
data_prep_tools/pose_est_compare/
.vscode
caches/
data_evaluation/
core.375
data_prep_tools/occnet_test_set_lists/
data_prep_tools/core.17
notebooks/visualization_outputs
build/
*.pyc
*.pt
*.so
*.o
*.prof
.nfs*
*.cpp
data_prep_tools/core.16